<div
  class="form-container"
>
  <form
    [formGroup]="loginForm"
    (submit)="loginForm.valid && submit()"
  >
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-form-field
            hintLabel="username or registered email"
          >
            <input
              type="text"
              matInput
              placeholder="Username"
              formControlName="username"
            >
          </mat-form-field>
          <mat-form-field
          >
            <input
              [type]="revealPassword ? 'text' : 'password'"
              matInput
              placeholder="Password"
              formControlName="password"
            >
            <mat-icon
              matSuffix
              (click)="revealPassword = !revealPassword"
            >
              {{ revealPassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
        <button
          type="submit"
          mat-raised-button
          [disabled]="loginForm.invalid"
          color="primary"
        >
          Login
        </button>
        <button
          type="button"
          mat-raised-button
          color="secondary"
          (click)="register()"
        >
          Register
        </button>
      </mat-card-actions>
  </mat-card>
  </form>

</div>
