.form-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  margin-top: 15vh;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    mat-card-content {
      display: flex;
      flex: 1;
      flex-direction: column;

      mat-form-field {
        width: 40vw;

        @media screen and (max-width: 767px){
          width: 80vw;
        }
      }
    }

    mat-card-actions {
      display: flex;

      .mat-raised-button {
        display: flex;
        flex: 1;
        align-content: center;
        align-items: center;
        text-align: center;

        overflow-y: hidden;

        img {
          margin: -4px;
        }
      }
    }

    mat-icon {
      cursor: pointer;
    }
  }

  border: 1px none red;
}
